@import './antd.css';

.App {
  text-align: center;
}

  .row {
      margin-left: -15px;
      margin-right: -15px;
  }

  @media (min-width: 992px){
    .col-md-4 {
      width: 33.3333333%;
    }
  }

  @media (min-width: 992px){
    .col-md-8 {
      width: 66.6666%;
    }
  }

  @media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
  }

  .image {
      float: left;
      overflow: hidden;
      position: relative;
      width: 100%;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      max-height: 154px;
  }

  .image:before {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.74);
      content: "";
      height: 100%;
      width: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear;
  }

  .blog-detail {
      border-bottom: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      float: left;
      padding: 25px 30px 0 0;
      width: 100%;
      position: relative;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -ms-border-radius: 0 3px 3px 0;
      -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
  }

  .blog-detail > h3 {
      font-size: 19px;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
  }

  .blog-detail > h3 a {
      color: #555555;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      transition: all 0.4s linear;
  }

  .blog-detail > h3 a:hover{
    color: #f0283b;
  }

  h1, h2, h3, h4, h5, h6 {
      font-family: open sans, sans-serif;
      color: #444;
      letter-spacing: 0.3px;
  }

  body, ul, h1, h2, h3, h4, h5, h6, p {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .blog-detail > p {
      font-size: 17px;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 20px;
      max-height: 40px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }

  p {
      font-family: noto sans;
      color: #666;
      font-size: 13px;
      line-height: 26px;
      letter-spacing: 0.3px;
  }

  .blog-detail > span {
      color: #969696;
      font-size: 13px;
      line-height: 36px;
      text-transform: uppercase;
      margin-top: 5px;
      float: left;
      margin-right: 20px;
  }

  .blog-detail > span i {
      margin-right: 10px;
  }

  .page-top {
      background: url(/assets/images/parallax1.jpg);
      background-size: cover!important;
      background-attachment: fixed!important;
      padding-bottom: 50px;
      padding-top: 80px;
      position: relative;
      text-align: center;
      width: 100%;
  }

  .page-top:before {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
  }

  .parallax {
      height: 100%;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      background-size: cover!important;
      background-attachment: fixed!important;
      width: 100%;
      z-index: -1;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -ms-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
  }

  .page-top h1 {
      color: #FFFFFF;
      font-size: 36px;
      font-weight: 700;
      position: relative;
  }

  .add-blog:hover{
    padding: 5px 40px;
  }

  .add-blog {
    -webkit-transition: all 0.4s linear; */
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }

  @media (max-width: 980px) and (min-width: 768px){
    .column {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  @media (min-width: 992px){
    .col-md-12 {
      width: 100%;
    }
  }

  @media (max-width: 980px) and (min-width: 768px){
    .column {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  @media (max-width: 767px){
    .column {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  .single-page {
    border: 1px solid #F0F0F0;
    margin-bottom: 20px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  .single-page img {
    height: auto;
    width: 100%;
    max-height: 350px;
  }

  img {
      vertical-align: middle;
  }

  .single-page h2 {
    /*float: left;*/
    font-size: 18px;
    line-height: 30px;
    padding: 10px 20px;
    /*width: 70%;*/
  }

  .meta {
    margin-top: 20px;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    float: left;
    position: relative;
    padding: 10px 120px 10px 20px;
    width: 100%;
  }

  .meta li {
    color: #999999;
    float: left;
    font-family: open sans, sans-serif;
    margin-right: 30px;
    text-transform: uppercase;
    width: auto;
    font-size:15px;
}

.meta li:hover {
  color: #f0283b;
  cursor: pointer;
}

  h1, h2, h3, h4, h5, h6 {
      font-family: open sans, sans-serif;
      color: #444;
      letter-spacing: 0.3px;
  }

  .meta > img {
    border: 2px solid #FFFFFF;
    margin-top: -40px;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

p {
    font-family: noto sans;
    color: #666;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.3px;
}

.comments {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.comments > h4 {
    float: left;
    font-size: 16px;
    margin: 0 0 30px;
}

.comments > ul {
    float: left;
    width: 100%;
}

ul, ol {
    float: left;
    width: 100%;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments > ul li:last-child {
    margin-bottom: 0;
}

.comments > ul li {
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 30px;
}

.comments > ul li .comment {
    /*background: url(../images/pattern1.jpg) repeat scroll 0 0 #F7F7F7;*/
    border: 1px solid #f0f0f0;
    padding: 10px 30px;
    position: relative;
    float: left;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.comments > ul li ul li .comment:before {
    background: none repeat scroll 0 0 #F0F0F0;
    content: "";
    height: 1px;
    margin-top: -0.5px;
    width: 50px;
    position: absolute;
    left: -60px;
    top: 50%;
}

.comments > ul li .avatar {
    float: left;
    height: 110px;
    margin-right: 30px;
    position: relative;
    width: 110px;
}

@media (max-width: 767px){
  .comments > ul li .avatar {
    display: table;
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 980px) and (min-width: 768px){
  .comments > ul li .avatar {
    display: table;
    float: none;
    margin: 0 auto;
  }
}

.comment:hover .avatar > a {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.comments > ul li .avatar img {
    width: 100%;
    height: 100%;
    border: 3px solid #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.avatar > a:hover {
    color: #FFF;
}

.comments > ul li h5 i {
    float: right;
    font-family: open sans, sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    margin: 0;
    color: #c5c3c3;
}

.sidebar .widget {
    margin-bottom: 50px;
}

@media (max-width: 980px) and (min-width: 768px){
  .widget {
    margin-bottom: 50px;
  }
}

